* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button {
    padding: 10px;
    cursor: pointer;
}

.accept-message {
    font-size: 18px;
    font-weight: bold;
}

.modal-overlay {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: lightgrey;
}

.modal {
    padding: 20px;
    border: 1px solid black;

    position: relative;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
}

.modal-close {
    position: absolute;
    top: 8px;
    left: 8px;
}

.modal-content {
    padding: 40px 0;
}

/* Assume mobile web starts at 500px or less */
@media only screen and (max-width: 500px) {
    .modal {
        height: 100vh;
        width: 100vw;
    }
}