* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --tw-blue: rgba(29,161,242,1.00);
    --tw-blue-light: rgb(238, 246, 252);
    --tw-blue-dark: rgb(34, 131, 192);
    --tw-grey: rgb(112, 136, 151);
    --tw-grey-light: rgb(174, 191, 201);
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header {
    padding: 36px;
}

.signup-bar {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1vh;
    height: 54px;
    width: 520px;
}

.signup-bar .button {
    margin-bottom: 0;
    width: 18%;
    height: 80%;
}

.input-container {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 100%;
    width: 38%;
    border: 1px solid var(--tw-grey-light);
    border-radius: 6px;
}

.input {
    width: 100%;
    height: 32px;
    padding-left: 5px;

    font-size: 18px;
    border: none;
    border-radius: 6px;
}

.input:focus {
    outline: none;
}

.label {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-8px);
    left: 5px;
    max-width: 97%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--tw-grey);
    cursor: text;

    transition: all 0.15s ease;
}

.input-container.has-text .label {
    top: 5px;
    left: 5px;
    transform: none;

    font-size: 0.8rem;
    cursor: default;
}


.input-container.is-focused {
    border: 2px solid var(--tw-blue);
}

.input-container.is-focused .label {
    top: 5px;
    left: 5px;
    transform: none;

    font-size: 0.8rem;
    color: var(--tw-blue);
    cursor: default;
}

.logo-container {
    margin-bottom: 48px;
}

.logo {
    height: 56px;
    fill: var(--tw-blue);
}

.heading-primary-main {
    display: block;
    margin-bottom: 48px;
    font-size: 44px;
}

.heading-primary-sub {
    display: block;
    margin-bottom: 32px;
    font-size: 22px;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
    height: 56px;
    margin-bottom: 24px;

    font-size: 18px;
    font-weight: 700;
    border: 1px solid var(--tw-blue);
    border-radius: 48px;
    cursor: pointer;

    transition: background-color 0.25s ease;
}

.button:focus {
    outline: none;
}

.button-sign-up {
    background-color: var(--tw-blue);
    color: white;
}

.button-sign-up:hover {
    border: 1px solid var(--tw-blue-dark);
    background-color: var(--tw-blue-dark);
}

.button-log-in {
    background-color: white;
    color: var(--tw-blue);
}

.button-log-in:hover {
    background-color: var(--tw-blue-light);
}

.image-container {
    position: relative;
    background: url("https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png");
    background-size: cover;
    background-position: center;
    height: 45vh;
}

.bird {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 38vh;
    fill: white;
}

.footer {
    width: 100%;
    padding: 8px 16px;
    font-size: 12px;
}

.footer-links {
    list-style: none;
    text-align: center;
}

.footer-link {
    display: inline-block;
    padding: 8px;

}

.footer-link a:link,
.footer-link a:visited {
    text-decoration: none;
    color: var(--tw-grey);
}

.footer-link a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 501px) {
    .header {
        margin: 0 auto;
        max-width: 600px;
    }

    .heading-primary-main {
        font-size: 64px;
    }

    .heading-primary-sub {
        font-size: 28px;
    }

    .button-sign-up {
        margin-right: 24px;
    }

    .button-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1001px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 64vw;
        height: 90vh;
    }
    
    .image-container {
        height: 90vh;
        order: -1;
        flex-grow: 1;
    }

    .button-container {
        flex-direction: column;
        max-width: 380px;
    }

}

@media only screen and (min-height: 750px) and (min-width: 1001px) {
    .signup-bar {
        display: flex;
    }
}


