* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --tw-blue: rgba(29,161,242,1.00);
    --tw-grey: rgb(112, 136, 151);
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header {
    padding: 48px;
}

.logo-container {
    margin-bottom: 48px;
}

.logo {
    height: 56px;
    fill: var(--tw-blue);
}

.heading-primary-main {
    display: block;
    margin-bottom: 48px;
    font-size: 44px;
}

.heading-primary-sub {
    display: block;
    margin-bottom: 32px;
    font-size: 28px;
}

.button {
    width: 100%;
    height: 56px;
    margin-bottom: 24px;

    font-size: 18px;
    font-weight: 700;
    border: 1px solid var(--tw-blue);
    border-radius: 48px;
}

.button-sign-up {
    background-color: var(--tw-blue);
    color: white;
}

.button-log-in {
    background-color: white;
    color: var(--tw-blue);
}

.image-container {
    position: relative;
    background: url("img/background.png");
    background-size: cover;
    background-position: top;
    height: 40vh;
}

.bird {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 400px;
    fill: white;
}

.footer {
    padding: 8px 16px;
}

.footer-links {
    list-style: none;
    text-align: center;
}

.footer-link {
    display: inline-block;
    padding: 8px;

}

.footer-link a:link,
.footer-link a:visited {
    text-decoration: none;
    color: var(--tw-grey);
}

.footer-link a:hover {
    text-decoration: underline;
}
